<%- include("header") -%>

	<h2 class="box" id="heading">This is the about page</h2>

	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sapien et ligula ullamcorper malesuada proin. In pellentesque massa placerat duis ultricies lacus. Mauris rhoncus aenean vel elit. Tortor posuere ac ut consequat semper viverra. Ut diam quam nulla porttitor massa id neque aliquam. Tellus elementum sagittis vitae et leo duis ut diam quam. Pellentesque diam volutpat commodo sed. In fermentum et sollicitudin ac orci. Mi ipsum faucibus vitae aliquet nec. Tellus rutrum tellus pellentesque eu tincidunt tortor aliquam.</p>
	<p>Vivamus at augue eget arcu dictum varius duis at. Quam adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus urna. Tellus in metus vulputate eu scelerisque felis imperdiet proin. Enim sed faucibus turpis in eu mi. Sed elementum tempus egestas sed sed risus pretium. </p>

<%- include("footer") -%>
